*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
html{
    scroll-behavior: smooth;
    font-size: 20px;
}
@media (max-width: 1500px) {
    html{
        font-size: 16px;
    }
    button{
        border: 0.1875rem solid #c5a880;
    }
}
body{
    background: #2D2424;
    display: flex;
}
.container{
    display: inline-block;
    background: #402218;
    margin-left: 20%;
}
button{
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    border: 0.15rem solid #c5a880;
}
button:hover{
    border: 0.15rem solid #000;
}
.fourth_line{
    margin-left: 2.5rem;
}
.third_line{
    margin-left: 5rem;
}
.second_line{
    margin-left: 7.5rem;
}
.first_line{
    margin-left: 10rem;
}
.sixth_line{
    margin-left: 2.5rem;
}
.seventh_line{
    margin-left: 5rem;
}
.eighth_line{
    margin-left: 7.5rem;
}
.nineth_line{
    margin-left: 10rem;
}
.red{
    background: red;
}
.grey{
    background: #c5a880;
}
.white{
    background: white;
}
button.red:focus{
    border: 0.15rem solid #000;
}
button.white:focus{
    border: 0.15rem solid #000;
}
.textarea{
    font-size: 1.5rem;
    background: #2D2424;
    text-align: center;
    width: 10rem;
    height: 6rem;
}
.confirm-btn{
    font-size: 1rem;
    border: none;
}