*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
html{
    scroll-behavior: smooth;
    font-size: 20px;
}
@media (max-width: 1500px) {
    html{
        font-size: 16px;
    }
    button{
        border: 0.1875rem solid #c5a880;
    }
}
body{
    background: #190404;
    display: flex;
}
.board{
    width: 75%;
    background: #1F1F1F;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
}
.container{
    display: inline-block;
    background: #1F1F1F;
}
button{
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    border: 0.15rem solid #1F1F1F;
}
button:hover{
    border: 0.15rem solid #000;
}
.fourth_line{
    margin-left: 2.5rem;
}
.third_line{
    margin-left: 5rem;
}
.second_line{
    margin-left: 7.5rem;
}
.first_line{
    margin-left: 10rem;
}
.sixth_line{
    margin-left: 2.5rem;
}
.seventh_line{
    margin-left: 5rem;
}
.eighth_line{
    margin-left: 7.5rem;
}
.nineth_line{
    margin-left: 10rem;
}
.circle{
    background: #7F7F7F;
}
.red{
    background: linear-gradient(180deg, #BB1717 50%, rgba(187, 23, 23, 0.75) 100%);
}
.white{
    background: linear-gradient(180deg, #FFFFFF 50%, rgba(255, 255, 255, 0.7) 100%, rgba(255, 255, 255, 0.75) 100%);
}
.circle:focus{
    border: 0.2rem solid #000;
}
.textarea{
    font-size: 1.5rem;
    background: #2D2424;
    text-align: center;
    width: 10rem;
    height: 6rem;
}
#text{
    font-size: 0.85rem;
    text-align: center;
    width: 10rem;
    height: 3rem;
    outline: none;
    border: none;
}
.confirm-btn{
    font-size: 1rem;
    border: none;
}

.selected{
    opacity: 65%;
}
.confirm-btn:hover{
    cursor: pointer;
}