*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    word-spacing: 2px;
}
html {
    scroll-behavior: smooth;
  }
body{
    background: #2D2424;
    display: flex;
}
div.container{
    width: 15vh;
    height: 100vh;
    background: #402218;
    position: fixed;
}
#logo{
    width: 95%;
    display: flex;
    margin: 0 auto 10px auto;
}
.navbar{
    display: flex;
    flex-direction: column;
}
.navbar li{
    margin: 10px auto;
    list-style: none;
    font-size: 1.25rem;
}
.navbar li a{
    text-decoration: none;
    color: #F9A504;
}
.navbar li a:hover{
    color: #f9ca6e;
}
.homeContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 4vh 30vh;
}
.table_texts{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.text_buttons{
    font-size: 6vh;
    color: #F0E3CA;
}
.buttons{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
}
.buttons a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background: #C5A880;
    color: #000;
    margin: 10px 0;
    height: 10vh;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 3vh;
    width: 45vh;
    font-size: 5vh;
}
.buttons a:active{
    color: #000;
}
.buttons a:hover{
    border: 5px solid rgb(65, 65, 65);
    cursor: pointer;
}
.table{
    width: 60vh;
}
.rules{
    width: 100vh;
    margin: 5vh auto;
}
.rules h1{
    color: #C24914;
    font-size: 4vh;
}
.rules p{
    font-size: 2vh;
    color: #F0E3CA;
    text-align: justify;
}