*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
html{
    scroll-behavior: smooth;
    font-size: 20px;
}
body{
    background: #2D2424;
}
.container{
    display: inline-block;
    background: #402218;
    width: 100%;
}
button{
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    border: 0.15rem solid #c5a880;
}
button:hover{
    border: 0.15rem solid #2D2424;
}
.fourth_line{
    margin-left: 2.5rem;
}
.third_line{
    margin-left: 5rem;
}
.second_line{
    margin-left: 7.5rem;
}
.first_line{
    margin-left: 10rem;
}
.sixth_line{
    margin-left: 2.5rem;
}
.seventh_line{
    margin-left: 5rem;
}
.eighth_line{
    margin-left: 7.5rem;
}
.nineth_line{
    margin-left: 10rem;
}
.red{
    background: red;
}
.grey{
    background: #c5a880;
}
.white{
    background: white;
}